body {
  font-family: Arial;
  background: #fef3c7;
  padding: 30px;
  text-align: center;
}

#courses {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}