body { font-family:Arial; text-align:center; padding:30px; background:#fef3c7; }
button,input { padding:5px 8px; margin:5px; border-radius:4px; }
#courses { background:white; padding:15px; width:350px; margin:auto; border-radius:8px; box-shadow:0 4px 10px rgba(0,0,0,0.1); }