body {
  font-family: Arial;
  background: #eef2ff;
  padding: 20px;
}

#cart {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}