body {
  font-family: Arial;
  background: #e0f2fe;
  padding: 30px;
  text-align: center;
}

#products {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}